$main-font: Arial Rounded, sans-serif;
$gw-gutter: 200px;

body {
  width: grid-width(4);
  margin-left: $gw-gutter;
  margin-top: 50px;
  margin-left: 50px;
  color: white;
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  font-size: 36px;
}

td {
  width: 250px;
  height: 250px;
  font-size: 48px;
  margin: 0px;
}

.punch-card {
  text-align: center;
}

.submit{
  margin-left: 20px;
  font-size: 24px;
}

input.button { 
  border: 110px solid #ffcece; 
  background-color: #ea8f8f; 
  border-radius: 300px; 
  padding: 10px; 
  height: 425px; 
  width: 425px; 
  text-align: center;
  color: white;
}
